.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.wrapper {
  padding: 10px;
  width: 330px;
}
.counter-text {
  font-size: 70px;
}
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: gray;
  background-color: rgb(228, 228, 228);
}
.buttons {
  display: flex;
}
.button {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-green {
  background-color: rgb(77, 146, 77);
}
.button-red {
  background-color: rgb(233, 62, 56);
}
.button-yellow {
  background-color: rgb(235, 232, 91);
}
.button-image-size {
  width: 50px;
  height: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
